*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.main_box {
    background-image: url("image.jpg");
    height: 100vh;
    background-size: cover;
}
.btn_one i{
    color: white
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height : 60px;
    cursor: pointer;
    transition: all 0.3s linear;

}
.sidebar_menu{
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(226, 218, 218, 0.1);
    box-shadow: 0 0 4px rgba(219, 6, 6, 0.5);
    transition: all 0.3s linear;
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 2 4px rgba(219, 209, 209, 0.5);
    height: 60px;
}
.sidebar_menu.logo a{
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-weight: 500;
}
.sidebar_menu .btn_two i{
    color: grey;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 250px;
    /* opacity: 0; */
    cursor: pointer;
}
.sidebar_menu .menu{
    /* color: white; */
    position: absolute;
    width: 100%;
    top: 80px;
}
.sidebar_menu .menu li{
    margin: 6px;
    padding: 14 20;

}
.sidebar_menu .menu i, a{
    color: rgb(1, 4, 32);
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu i {
    padding-right: 8px;
}
.sidebar_menu .social_media{
    color: rgb(8, 12, 202);
    opacity: 0.s;
    position: absolute;
    left: 25%;
    bottom: 50px;
}
.sidebar_menu .social_media i{
    color: #022444;
    opacity: 0.s;
    padding: 0 5px;
}
#check{
    display: none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255, 255, 255,0.5);
}
.btn_one i:hover{
    font-size: 40px;
}
.btn_two i:hover{
    font-size: 30px;
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.1);
}
#check:checked ~ .sidebar_menu{
    left:0 ;
}
#check:checked ~ .btn_one i{
    opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two{
    opacity: 1;
}
